@font-face {
  font-family: "Nosfire Regular";
  src: url("Nosifer-Regular.ttf");
}
h1 {
  
  background-color: yellow;
  text-align: center;
  font-family: "Nosfire Regular";
 
}
.especial {
  color: black;
  background-color: white;
}

#huertos {
  padding: 1em;
  color: whitesmoke;
  font-weight: bolder;
  border: 1px red solid;
  border-collapse: collapse;
  background-image: url(7-consejos-huerto-sano.jpg);
}
body {
  background-color: red;
}
